.*
!.gitignore
!.htaccess

/sites/*
!/sites/all
!/sites/default

/sites/all/*
!/sites/all/modules
/sites/all/modules/*
!/sites/all/modules/custom

/sites/all/modules/custom/*
!/sites/all/modules/custom/custom_atrium

/sites/default/*
!/sites/default/default.settings.php

/cache
/backup
/test*
/potx*

drushrc.php
